.hero{
    display: flex;
    justify-content: center;
    
}
.ErrorBoundries{
    /* text-align: center; */
    
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: blueviolet;
   


    
}

@media (max-width:700px) {
    .hero{
        font-size: 20px;

    }
}